In [1]:
!pip install SQLAlchemy

Collecting SQLAlchemy
  Downloading SQLAlchemy-2.0.31-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\juanj\anaconda3\envs\pandas_2024\lib\site-packages (from SQLAlchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\juanj\anaconda3\envs\pandas_2024\lib\site-packages (from SQLAlchemy) (3.0.3)
Downloading SQLAlchemy-2.0.31-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 3.4 MB/s eta 0:00:01
   ---------- ----------------------------- 0.5/2.1 MB 6.8 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 10.1 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 10.4 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.2 MB/s eta 0:00:00
Installing collected packages: SQLAlchemy
Successfully installed SQLAlchemy-2.0.31

In [1]:
from sqlalchemy import create_engine
import pandas as pd

# Crear la cadena de conexión usando SQLAlchemy
engine = create_engine('mssql+pyodbc://BALRODJJ/AdventureWorks2019?driver=SQL+Server&trusted_connection=yes')

# Definir la consulta SQL
input_query = '''
SELECT
    YEAR(t1.OrderDate) AS 'año', 
    MONTH(t1.OrderDate) AS 'mes',
    SUM(t1.TotalDue) AS 'ventas'
FROM Sales.SalesOrderHeader AS t1
GROUP BY YEAR(t1.OrderDate), MONTH(t1.OrderDate)
ORDER BY YEAR(t1.OrderDate), MONTH(t1.OrderDate)
'''

# Ejecutar la consulta y leer los datos en un DataFrame
ventas = pd.read_sql(input_query, engine)

# Mostrar el DataFrame
ventas

     año  mes        ventas
0   2011    5  5.670209e+05
1   2011    6  5.070965e+05
2   2011    7  2.292183e+06
3   2011    8  2.800576e+06
4   2011    9  5.547916e+05
5   2011   10  5.156270e+06
6   2011   11  8.153130e+05
7   2011   12  1.462449e+06
8   2012    1  4.458337e+06
9   2012    2  1.649052e+06
10  2012    3  3.336347e+06
11  2012    4  1.871924e+06
12  2012    5  3.452924e+06
13  2012    6  4.610647e+06
14  2012    7  3.840231e+06
15  2012    8  2.442451e+06
16  2012    9  3.881724e+06
17  2012   10  2.858060e+06
18  2012   11  2.097153e+06
19  2012   12  3.176848e+06
20  2013    1  2.340062e+06
21  2013    2  2.600219e+06
22  2013    3  3.831606e+06
23  2013    4  2.840711e+06
24  2013    5  3.658085e+06
25  2013    6  5.726265e+06
26  2013    7  5.521841e+06
27  2013    8  3.733973e+06
28  2013    9  5.083505e+06
29  2013   10  5.374376e+06
30  2013   11  3.694668e+06
31  2013   12  4.560577e+06
32  2014    1  4.798028e+06
33  2014    2  1.478213e+06
34  2014    3  8.097036e+06
35  2014    4  1.985886e+06
36  2014    5  6.006183e+06
37  2014    6  5.415148e+04