Ejercicio 3

In [1]:
import pandas as pd

# Creación del DataFrame
data = {
    'Nombre': ['Ana', 'Luis', 'María', 'Pedro', 'Laura', 'Carlos', 'Marta', 'Jorge'],
    'Edad': [23, 45, 31, 34, 28, 40, 36, 50],
    'Departamento': ['Ventas', 'IT', 'IT', 'Ventas', 'Marketing', 'Ventas', 'Marketing', 'IT'],
    'Salario': [50000, 60000, 55000, 52000, 58000, 51000, 60000, 62000]
}

df = pd.DataFrame(data)
print("DataFrame original:")
print(df)

# Convertir la columna 'Departamento' en variables dummy
df_dummies = pd.get_dummies(df, columns=['Departamento'], prefix='Dept', drop_first=True)

print("\nDataFrame después de aplicar get_dummies:")
print(df_dummies)

# Definir los límites y etiquetas para los grupos de edad
bins = [20, 30, 40, 50, 60]
labels = ['20-30', '30-40', '40-50', '50-60']

# Crear la nueva columna 'Grupo_Edad' utilizando cut
df_dummies['Grupo_Edad'] = pd.cut(df_dummies['Edad'], bins=bins, labels=labels, right=False)

print("\nDataFrame después de aplicar cut:")
print(df_dummies)

DataFrame original:
   Nombre  Edad Departamento  Salario
0     Ana    23       Ventas    50000
1    Luis    45           IT    60000
2   María    31           IT    55000
3   Pedro    34       Ventas    52000
4   Laura    28    Marketing    58000
5  Carlos    40       Ventas    51000
6   Marta    36    Marketing    60000
7   Jorge    50           IT    62000

DataFrame después de aplicar get_dummies:
   Nombre  Edad  Salario  Dept_Marketing  Dept_Ventas
0     Ana    23    50000           False         True
1    Luis    45    60000           False        False
2   María    31    55000           False        False
3   Pedro    34    52000           False         True
4   Laura    28    58000            True        False
5  Carlos    40    51000           False         True
6   Marta    36    60000            True        False
7   Jorge    50    62000           False        False

DataFrame después de aplicar cut:
   Nombre  Edad  Salario  Dept_Marketing  Dept_Ventas Grupo_Edad
0     Ana    23    50000           False         True      20-30
1    Luis    45    60000           False        False      40-50
2   María    31    55000           False        False      30-40
3   Pedro    34    52000           False         True      30-40
4   Laura    28    58000            True        False      20-30
5  Carlos    40    51000           False         True      40-50
6   Marta    36    60000            True        False      30-40
7   Jorge    50    62000           False        False      50-60