# Mas ejemplos sobre el uso de self join

Creación del 'schema'

In [12]:
CREATE DATABASE ejemplo;

Crear las tablas

In [1]:
CREATE TABLE ejemplo.Empleados (
    id_empleado INT PRIMARY KEY,
    FullName VARCHAR(255),
    Salary DECIMAL(10, 2),
    ManagerId INT
);

INSERT INTO ejemplo.Empleados (Id, FullName, Salary, ManagerId)
VALUES
    (1, 'Juan Pérez', 60000.00, NULL),
    (2, 'María López', 55000.00, 1),
    (3, 'Carlos Rodríguez', 70000.00, 1),
    (4, 'Ana Martínez', 62000.00, NULL),
    (5, 'Jhon Smith', 65000.00, NULL),
    (6, 'Jane Anderson', 55000.00, 2),
    (7, 'Tom Lannon', 15000.00, 4),
    (8, 'Anne Connor', 80000.00, NULL),
    (9, 'Peter Robe', 75000, 3),
    (10, 'Alex Fonthal', 12000, 4),
    (11, 'Kate Moss', 11201, 3);

In [ ]:
CREATE TABLE ejemplo.Managers (
    ManagerId INT PRIMARY KEY,
    FullName VARCHAR(255),
    Salary DECIMAL(10, 2),
);
INSERT INTO ejemplo.Empleados (Id, FullName, Salary, ManagerId)
VALUES
    (1, 'Juan Pérez', 60000.00, NULL),
    (2, 'María López', 55000.0)    (3, 'Ana Martínezíguez', 70000, 1),
    (4, 'Jhon Smith', 65000.00,
    (4metadataazdata_cell_guidoutputs

<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);"><b>1. Procesamiento de una jerarquía</b></span>

<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">Supongamos que tenemos una tabla llamada&nbsp;</span>   `Empleados`   <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;con las siguientes columnas:&nbsp;</span>   `Id`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">,&nbsp;</span>   `FullName`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">,&nbsp;</span>   `Salary`   <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;y&nbsp;</span>   `ManagerId`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">. La columna&nbsp;</span>   `ManagerId`   <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;almacena el&nbsp;</span>   `Id`   <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;del gerente de cada empleado.&nbsp;</span>

In [2]:
SELECT * FROM ejemplo.Empleados

Id,FullName,Salary,ManagerId
1,Juan Pérez,60000.00,NULL
2,María López,55000.00,1
3,Carlos Rodríguez,70000.00,1
4,Ana Martínez,62000.00,NULL
5,Jhon Smith,65000.00,NULL
6,Jane Anderson,55000.00,2
7,Tom Lannon,15000.00,4
8,Anne Connor,80000.00,NULL
9,Peter Robe,75000.00,3
10,Alex Fonthal,12000.00,4
11,Kate Moss,11201.00,3

<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">Para mostrar el nombre del gerente para cada empleado en la misma fila, podemos ejecutar la siguiente consulta:</span>

In [3]:
SELECT e.Id, e.FullName, e.ManagerId, m.FullName AS ManagerName
FROM ejemplo.Empleados e
JOIN ejemplo.Empleados m ON e.ManagerId = m.Id;

Id,FullName,ManagerId,ManagerName
2,María López,1,Juan Pérez
3,Carlos Rodríguez,1,Juan Pérez
6,Jane Anderson,2,María López
7,Tom Lannon,4,Ana Martínez
9,Peter Robe,3,Carlos Rodríguez
10,Alex Fonthal,4,Ana Martínez
11,Kate Moss,3,Carlos Rodríguez

Esto nos dará una lista de empleados junto con sus gerentes

**2.** <span style="font-size: 16px; line-height: var(--cib-type-subtitle2-stronger-line-height); font-variation-settings: var(--cib-type-subtitle2-stronger-font-variation-settings); color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; background-color: rgb(247, 247, 247);"><b>Comparación de filas dentro de la misma tabla</b></span><span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">: Supongamos que tenemos una tabla llamada&nbsp;</span>  `Productos`  <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;con las columnas&nbsp;</span>  `Id`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">,&nbsp;</span>  `Nombre`  <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;y&nbsp;</span>  `Precio`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">.&nbsp;</span>

In [8]:
CREATE TABLE ejemplo.Productos (
    Id INT PRIMARY KEY,
    Nombre VARCHAR(255),
    Precio DECIMAL(10, 2)
);

INSERT INTO ejemplo.Productos (Id, Nombre, Precio)
VALUES
    (1, 'Laptop', 1000.00),
    (2, 'Teléfono', 500.00),
    (3, 'Tablet', 1000.00),
    (4, 'Smartwatch', 300.00);

: 1050 (42S01): Table 'productos' already exists

In [9]:
SELECT *  FROM ejemplo.Productos

Id,Nombre,Precio
1,Laptop,1000.00
2,Teléfono,500.00
3,Tablet,1000.00
4,Smartwatch,300.00

<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">Queremos encontrar todos los pares de productos con el mismo precio. Podemos usar un self join para lograrlo:</span>

In [10]:
SELECT p1.Nombre AS Producto1, p2.Nombre AS Producto2, p1.Precio
FROM ejemplo.Productos p1
JOIN ejemplo.Productos p2 ON p1.Precio = p2.Precio
WHERE p1.Id <> p2.Id;

Producto1,Producto2,Precio
Tablet,Laptop,1000.00
Laptop,Tablet,1000.00

<span style="font-size: 16px; line-height: var(--cib-type-subtitle2-stronger-line-height); font-variation-settings: var(--cib-type-subtitle2-stronger-font-variation-settings); color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; background-color: rgb(247, 247, 247);"><b>3. Self join con INNER JOIN</b></span><span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">: Similar al ejemplo anterior, podemos usar un self join para encontrar productos con el mismo precio, pero esta vez utilizando un INNER JOIN:</span>

In [12]:
SELECT p1.Nombre AS Producto1, p2.Nombre AS Producto2, p1.Precio
FROM ejemplo.Productos p1
INNER JOIN ejemplo.Productos p2 ON p1.Precio = p2.Precio
WHERE p1.Id <> p2.Id;

Producto1,Producto2,Precio
Tablet,Laptop,1000.00
Laptop,Tablet,1000.00

<span style="font-size: 16px; line-height: var(--cib-type-subtitle2-stronger-line-height); font-variation-settings: var(--cib-type-subtitle2-stronger-font-variation-settings); color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; background-color: rgb(247, 247, 247);"><b>4. Self join con LEFT JOIN</b></span><span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">: Supongamos que tenemos una tabla llamada&nbsp;</span> `Clientes` <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;con las columnas&nbsp;</span> `Id`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">,&nbsp;</span> `Nombre` <span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">&nbsp;y&nbsp;</span> `Ciudad`<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">.&nbsp;</span>

In [13]:
CREATE TABLE ejemplo.Clientes (
    Id INT PRIMARY KEY,
    Nombre VARCHAR(255),
    Ciudad VARCHAR(255)
);

INSERT INTO ejemplo.Clientes (Id, Nombre, Ciudad)
VALUES
    (1, 'Pedro Gómez', 'Madrid'),
    (2, 'Laura Fernández', 'Barcelona'),
    (3, 'Sergio Ruiz', NULL),
    (4, 'Elena Sánchez', 'Valencia');

In [14]:
SELECT * FROM ejemplo.Clientes

Id,Nombre,Ciudad
1,Pedro Gómez,Madrid
2,Laura Fernández,Barcelona
3,Sergio Ruiz,NULL
4,Elena Sánchez,Valencia

<span style="color: rgb(17, 17, 17); font-family: -apple-system, Roboto, SegoeUI, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Helvetica, &quot;Microsoft YaHei&quot;, &quot;Meiryo UI&quot;, Meiryo, &quot;Arial Unicode MS&quot;, sans-serif; font-size: 16px; background-color: rgb(247, 247, 247);">Queremos encontrar todos los clientes y sus ciudades, incluso si no tienen una ciudad asignada. Podemos usar un self join con LEFT JOIN:</span>

In [15]:
SELECT c1.Nombre AS Cliente, c2.Ciudad
FROM ejemplo.Clientes c1
LEFT JOIN ejemplo.Clientes c2 ON c1.Ciudad = c2.Ciudad
WHERE c1.Id <> c2.Id OR c2.Id IS NULL;

Cliente,Ciudad
Sergio Ruiz,NULL

Toda la información [aqui](https:\learnsql.com\blog\what-is-self-join-sql\)