# Práctica Final Módulo 4 - SQL

### Responder, utilizando consultas sql, las preguntas que se te hacen a continuación sobre datos de clientes y transacciones del sector bancario (datos sintéticos). EL primer paso es generar el 'schema' , las tablas y la inserción de los datos sinténticos. En la siguiente celda encontrarás los pasos para crear la base de datos. El código sql está comentado con **/\*** _código sql_  **\*/** , de modo que , <u>_antes de ejecutar las celdas_</u>, debes **"descomentar"** (borrar **'/\*'** y **'\*/'**) las consultas. Es posible que algunas consultas te arrojen tablas vacias.

In [ ]:
/* 
CREATE SCHEMA bank; 
*/

In [1]:
/* 
CREATE TABLE bank.Clientes (
    ClienteID INT PRIMARY KEY,
    Nombre VARCHAR(50),
    Apellido VARCHAR(50),
    FechaNacimiento DATE,
    Genero CHAR(1),
    Direccion VARCHAR(100),
    Ciudad VARCHAR(50),
    CodigoPostal VARCHAR(10)
);
*/

In [ ]:
/* 
CREATE TABLE bank.Cuentas (
    CuentaID INT PRIMARY KEY,
    ClienteID INT,
    TipoCuenta VARCHAR(20),
    FechaApertura DATE,
    Saldo DECIMAL(12,2),
    FOREIGN KEY (ClienteID) REFERENCES bank.Clientes(ClienteID)
);
*/

In [ ]:
/*
CREATE TABLE bank.Transacciones (
    TransaccionID INT PRIMARY KEY,
    CuentaID INT,
    Fecha DATE,
    Tipo VARCHAR(20),
    Monto DECIMAL(12,2),
    Descripcion VARCHAR(100),
    FOREIGN KEY (CuentaID) REFERENCES bank.Cuentas(CuentaID)
);
*/

In [ ]:
/*
INSERT INTO bank.Clientes (ClienteID, Nombre, Apellido, FechaNacimiento, Genero, Direccion, Ciudad, CodigoPostal)
VALUES
    (1, 'Juan', 'Pérez', '1985-03-15', 'M', 'Calle Falsa 123', 'Madrid', '28001'),
    (2, 'María', 'García', '1992-11-22', 'F', 'Avenida Siempreviva 456', 'Barcelona', '08001'),
    (3, 'Pedro', 'Rodríguez', '1978-07-02', 'M', 'Paseo del Parque 789', 'Sevilla', '41001'),
    (4, 'Ana', 'Martínez', '1990-04-18', 'F', 'Calle Mayor 321', 'Valencia', '46001'),
    (5, 'Carlos', 'Sánchez', '1982-09-30', 'M', 'Plaza del Ayuntamiento 159', 'Bilbao', '48001'),
    (6, 'Laura', 'Fernández', '1995-12-08', 'F', 'Rambla de las Flores 753', 'Málaga', '29001'),
    (7, 'Javier', 'Gómez', '1988-06-20', 'M', 'Paseo Marítimo 246', 'Alicante', '03001'),
    (8, 'Sofía', 'Torres', '1975-02-10', 'F', 'Avenida del Mar 852', 'Palma de Mallorca', '07001'),
    (9, 'Sergio', 'Navarro', '1983-11-05', 'M', 'Calle Real 753', 'Zaragoza', '50001'),
    (10, 'Isabel', 'Ramírez', '1991-08-28', 'F', 'Paseo de Gracia 159', 'Barcelona', '08007'),
    (11, 'Andrés', 'Herrera', '1979-05-12', 'M', 'Calle del Prado 456', 'Madrid', '28002'),
    (12, 'Marta', 'Jiménez', '1987-09-28', 'F', 'Avenida del Puerto 789', 'Valencia', '46002'),
    (13, 'Luis', 'Moreno', '1981-03-05', 'M', 'Plaza Mayor 123', 'Sevilla', '41002'),
    (14, 'Carla', 'Ruiz', '1993-11-18', 'F', 'Paseo de la Castellana 456', 'Madrid', '28003'),
    (15, 'Diego', 'Álvarez', '1977-07-22', 'M', 'Calle Larga 789', 'Málaga', '29002'),
    (16, 'Alicia', 'Gutiérrez', '1989-02-03', 'F', 'Rambla de Santa Mónica 123', 'Barcelona', '08004'),
    (17, 'Raúl', 'Vázquez', '1984-10-15', 'M', 'Avenida del Mar 456', 'Alicante', '03002'),
    (18, 'Lucía', 'Romero', '1991-06-27', 'F', 'Calle San Fermín 789', 'Pamplona', '31001'),
    (19, 'Óscar', 'Ramos', '1986-04-09', 'M', 'Plaza del Pilar 123', 'Zaragoza', '50002'),
    (20, 'Elena', 'Santos', '1994-12-31', 'F', 'Paseo de la Ribera 456', 'Bilbao', '48002'),
    (21, 'Alejandro', 'Flores', '1980-08-17', 'M', 'Calle de la Montera 789', 'Madrid', '28004'),
    (22, 'Cristina', 'Molina', '1988-03-10', 'F', 'Avenida de la Palmera 123', 'Sevilla', '41003'),
    (23, 'Mario', 'Castillo', '1982-11-25', 'M', 'Paseo Marítimo 456', 'Barcelona', '08005'),
    (24, 'Daniela', 'Cabrera', '1996-07-08', 'F', 'Calle de la Reina 789', 'Valencia', '46003'),
    (25, 'Pablo', 'Ortega', '1979-02-20', 'M', 'Plaza de las Flores 123', 'Zaragoza', '50003'),
    (26, 'Silvia', 'Vargas', '1985-09-03', 'F', 'Avenida de la Constitución 456', 'Sevilla', '41004'),
    (27, 'Roberto', 'Sáez', '1991-05-16', 'M', 'Calle Mayor 789', 'Madrid', '28005'),
    (28, 'Carolina', 'Pardo', '1993-01-29', 'F', 'Rambla de Cataluña 123', 'Barcelona', '08006'),
    (29, 'David', 'Rojas', '1987-10-11', 'M', 'Paseo Marítimo 456', 'Alicante', '03003'),
    (30, 'Claudia', 'Suárez', '1995-06-24', 'F', 'Plaza del Ayuntamiento 789', 'Valencia', '46004'),
    (31, 'Francisco', 'Ríos', '1983-12-07', 'M', 'Calle de la Paz 123', 'Málaga', '29003'),
    (32, 'Adriana', 'Guerrero', '1990-04-30', 'F', 'Avenida del Paralelo 456', 'Barcelona', '08007'),
    (33, 'Ernesto', 'Montes', '1978-08-13', 'M', 'Calle Larios 789', 'Málaga', '29004'),
    (34, 'Valeria', 'Espinosa', '1997-03-06', 'F', 'Paseo de la Castellana 123', 'Madrid', '28006'),
    (35, 'Gustavo', 'Hidalgo', '1984-11-19', 'M', 'Rambla del Prat 456', 'Barcelona', '08008'),
    (36, 'Natalia', 'Aguilar', '1992-07-02', 'F', 'Calle San Fernando 789', 'Sevilla', '41005'),
    (37, 'Rodrigo', 'Serrano', '1980-05-25', 'M', 'Plaza de la Virgen 123', 'Valencia', '46005'),
    (38, 'Gabriela', 'Arias', '1988-02-08', 'F', 'Avenida de la Ilustración 456', 'Zaragoza', '50004'),
    (39, 'Mateo', 'Córdoba', '1986-09-21', 'M', 'Calle de las Huertas 789', 'Madrid', '28007'),
    (40, 'Camila', 'Acosta', '1994-01-14', 'F', 'Paseo de Gracia 123', 'Barcelona', '08009'),
    (41, 'Nicolás', 'Ledesma', '1981-06-27', 'M', 'Calle Larga 456', 'Sevilla', '41006'),
    (42, 'Mariana', 'Pizarro', '1989-12-10', 'F', 'Plaza de la Reina 789', 'Valencia', '46006'),
    (43, 'Leonardo', 'Escobar', '1983-04-03', 'M', 'Rambla de Cataluña 123', 'Barcelona', '08010'),
    (44, 'Valentina', 'Piña', '1996-10-26', 'F', 'Calle Mayor 456', 'Madrid', '28008'),
    (45, 'Damián', 'Arce', '1977-07-09', 'M', 'Paseo Marítimo 789', 'Málaga', '29005'),
    (46, 'Rebeca', 'Cisneros', '1991-03-22', 'F', 'Avenida del Puerto 123', 'Alicante', '03004'),
    (47, 'Samuel', 'Villalobos', '1985-11-05', 'M', 'Calle Colón 456', 'Sevilla', '41007'),
    (48, 'Renata', 'Segovia', '1993-08-18', 'F', 'Plaza del Pilar 789', 'Zaragoza', '50005'),
    (49, 'Emiliano', 'Salcedo', '1980-02-01', 'M', 'Rambla del Prat 123', 'Barcelona', '08011'),
    (50, 'Isabella', 'Quintero', '1997-06-14', 'F', 'Calle de los Olivos 23', 'Madrid', '28019'),
    (51, 'Tomás', 'Castañeda', '1982-09-27', 'M', 'Calle Bravo Murillo 456', 'Madrid', '28009'),
    (52, 'Sofía', 'Uribe', '1990-05-10', 'F', 'Paseo de la Castellana 789', 'Madrid', '28010'),
    (53, 'Martín', 'Salinas', '1986-12-03', 'M', 'Avenida Diagonal 123', 'Barcelona', '08012'),
    (54, 'Antonella', 'Rincón', '1995-04-16', 'F', 'Calle Larios 456', 'Málaga', '29006'),
    (55, 'Santiago', 'Estrada', '1979-11-29', 'M', 'Plaza de la Reina 789', 'Valencia', '46007'),
    (56, 'Catalina', 'Solano', '1988-07-12', 'F', 'Rambla del Prat 123', 'Barcelona', '08013'),
    (57, 'Benjamín', 'Carvajal', '1984-03-25', 'M', 'Paseo Marítimo 456', 'Alicante', '03005'),
    (58, 'Constanza', 'Avendaño', '1992-10-08', 'F', 'Calle San Fernando 789', 'Sevilla', '41008'),
    (59, 'Joaquín', 'Cáceres', '1981-06-21', 'M', 'Plaza del Pilar 123', 'Zaragoza', '50006'),
    (60, 'Isadora', 'Echevarría', '1996-01-04', 'F', 'Avenida de la Palmera 456', 'Sevilla', '41009'),
    (61, 'Lucas', 'Pizarro', '1979-08-17', 'M', 'Calle de la Montera 789', 'Madrid', '28011'),
    (62, 'Antonia', 'Zúñiga', '1987-03-30', 'F', 'Paseo de Gracia 123', 'Barcelona', '08014'),
    (63, 'Matías', 'Márquez', '1983-11-13', 'M', 'Rambla de Cataluña 456', 'Barcelona', '08015'),
    (64, 'Rafaela', 'Acuña', '1991-07-26', 'F', 'Calle Mayor 789', 'Madrid', '28012'),
    (65, 'Maximiliano', 'Yáñez', '1985-02-09', 'M', 'Plaza de las Flores 123', 'Zaragoza', '50007'),
    (66, 'Julieta', 'Baeza', '1994-09-22', 'F', 'Avenida del Paralelo 456', 'Barcelona', '08016'),
    (67, 'Ezequiel', 'Montero', '1980-05-05', 'M', 'Calle Larios 789', 'Málaga', '29007'),
    (68, 'Florencia', 'Quintana', '1988-12-18', 'F', 'Paseo de la Castellana 123', 'Madrid', '28013'),
    (69, 'Thiago', 'Olivares', '1986-08-01', 'M', 'Rambla del Prat 456', 'Barcelona', '08017'),
    (70, 'Bianca', 'Rendón', '1993-04-14', 'F', 'Calle San Fernando 789', 'Sevilla', '41010'),
    (71, 'Cristóbal', 'Palacios', '1979-10-27', 'M', 'Plaza de la Virgen 123', 'Valencia', '46008'),
    (72, 'Amanda', 'Parra', '1991-06-09', 'F', 'Avenida de la Ilustración 456', 'Zaragoza', '50008'),
    (73, 'Emilio', 'Crespo', '1984-01-22', 'M', 'Calle de las Huertas 789', 'Madrid', '28014'),
    (74, 'Ariana', 'Henríquez', '1996-09-05', 'F', 'Paseo de Gracia 123', 'Barcelona', '08018'),
    (75, 'Salvador', 'Morales', '1982-05-18', 'M', 'Calle Larga 456', 'Sevilla', '41011'),
    (76, 'Fernanda', 'Tapia', '1989-11-01', 'F', 'Plaza de la Reina 789', 'Valencia', '46009'),
    (77, 'Emmanuel', 'Concha', '1987-07-14', 'M', 'Rambla de Cataluña 123', 'Barcelona', '08019'),
    (78, 'Dulce', 'Quintero', '1995-02-27', 'F', 'Calle Mayor 456', 'Madrid', '28015'),
    (79, 'Lisandro', 'Peralta', '1981-09-10', 'M', 'Paseo Marítimo 789', 'Málaga', '29008'),
    (80, 'Luana', 'Santamaría', '1993-06-23', 'F', 'Avenida del Puerto 123', 'Alicante', '03006'),
    (81, 'Máximo', 'Saldivar', '1986-12-06', 'M', 'Calle Colón 456', 'Sevilla', '41012'),
    (82, 'Violeta', 'Ugarte', '1990-04-19', 'F', 'Plaza del Pilar 789', 'Zaragoza', '50009'),
    (83, 'Ignacio', 'Solís', '1978-11-02', 'M', 'Rambla del Prat 123', 'Barcelona', '08020'),
    (84, 'Avril', 'Olmedo', '1997-07-15', 'F', 'Calle Bravo Murillo 456', 'Madrid', '28016'),
    (85, 'Leonel', 'Urrutia', '1984-03-28', 'M', 'Paseo de la Castellana 789', 'Madrid', '28017'),
    (86, 'Paloma', 'Espinoza', '1992-10-11', 'F', 'Avenida Diagonal 123', 'Barcelona', '08021'),
    (87, 'Fabrizio', 'Mora', '1980-06-24', 'M', 'Calle Larios 456', 'Málaga', '29009'),
    (88, 'Maite', 'Heredia', '1988-02-07', 'F', 'Plaza de la Reina 789', 'Valencia', '46010'),
    (89, 'Gael', 'Bernal', '1986-09-20', 'M', 'Rambla del Prat 123', 'Barcelona', '08022'),
    (90, 'Amelia', 'Polo', '1985-08-19', 'F', 'Calle de los Pintores 12', 'Málaga', '28025'),
    (91, 'Amelia', 'Peña', '1994-05-03', 'F', 'Paseo Marítimo 456', 'Alicante', '03007'),
    (92, 'Bautista', 'Contreras', '1981-12-16', 'M', 'Calle San Fernando 789', 'Sevilla', '41013'),
    (93, 'Luciana', 'Velázquez', '1989-08-29', 'F', 'Plaza del Pilar 123', 'Zaragoza', '50010'),
    (94, 'Tristán', 'Sepúlveda', '1987-04-12', 'M', 'Avenida de la Palmera 456', 'Sevilla', '41014'),
    (95, 'Jimena', 'Galindo', '1995-11-25', 'F', 'Calle de la Montera 789', 'Madrid', '28018'),
    (96, 'Álvaro', 'Leal', '1983-07-08', 'M', 'Paseo de Gracia 123', 'Barcelona', '08023'),
    (97, 'Dafne', 'Robles', '1991-03-21', 'F', 'Rambla de Cataluña 456', 'Barcelona', '08024'),
    (98, 'Ángel', 'Zepeda', '1979-10-04', 'M', 'Calle Mayor 789', 'Madrid', '28019'),
    (99, 'Esmeralda', 'Vigil', '1987-06-17', 'F', 'Plaza de las Flores 123', 'Zaragoza', '50011'),
    (100, 'Pascual', 'Betancourt', '1985-01-30', 'M', 'Avenida del Paralelo 456', 'Barcelona', '08025');
*/

In [ ]:
/*
INSERT INTO bank.Cuentas (CuentaID, ClienteID, TipoCuenta, FechaApertura, Saldo)
VALUES
    (1, 1, 'Ahorros', '2010-05-15', 5678.25),
    (2, 1, 'Corriente', '2010-05-15', 2345.67),
    (3, 2, 'Ahorros', '2015-03-20', 9876.54),
    (4, 3, 'Corriente', '2008-11-01', 1234.56),
    (5, 4, 'Ahorros', '2012-07-25', 7890.25),
    (6, 5, 'Corriente', '2018-02-10', 3456.78),
    (7, 6, 'Ahorros', '2014-09-05', 6789.01),
    (8, 7, 'Corriente', '2011-04-18', 2345.67),
    (9, 8, 'Ahorros', '2017-12-31', 8765.43),
    (10, 9, 'Corriente', '2013-06-07', 4567.89),
    (11, 10, 'Ahorros', '2019-01-15', 9012.34),
    (12, 11, 'Corriente', '2009-08-22', 5678.90),
    (13, 12, 'Ahorros', '2016-05-03', 7890.12),
    (14, 13, 'Corriente', '2010-11-28', 3456.78),
    (15, 14, 'Ahorros', '2018-07-10', 6789.34),
    (16, 15, 'Corriente', '2014-03-15', 2345.67),
    (17, 16, 'Ahorros', '2020-02-20', 8765.09),
    (18, 17, 'Corriente', '2011-09-01', 4567.23),
    (19, 18, 'Ahorros', '2017-04-25', 9012.45),
    (20, 19, 'Corriente', '2013-12-08', 5678.67),
    (21, 20, 'Ahorros', '2019-06-30', 7890.89),
    (22, 21, 'Corriente', '2015-01-12', 3456.01),
    (23, 22, 'Ahorros', '2012-08-05', 6789.12),
    (24, 23, 'Corriente', '2016-11-18', 2345.34),
    (25, 24, 'Ahorros', '2020-04-02', 8765.56),
    (26, 25, 'Corriente', '2014-07-27', 4567.78),
    (27, 26, 'Ahorros', '2018-03-10', 9012.90),
    (28, 27, 'Corriente', '2011-10-15', 5678.12),
    (29, 28, 'Ahorros', '2017-06-01', 7890.34),
    (30, 29, 'Corriente', '2013-02-25', 3456.56),
    (31, 30, 'Ahorros', '2019-09-08', 6789.78),
    (32, 31, 'Corriente', '2015-04-20', 2345.90),
    (33, 32, 'Ahorros', '2011-11-13', 8765.12),
    (34, 33, 'Corriente', '2016-07-05', 4567.34),
    (35, 34, 'Ahorros', '2020-02-28', 9012.56),
    (36, 35, 'Corriente', '2012-09-22', 5678.78),
    (37, 36, 'Ahorros', '2018-05-17', 7890.90),
    (38, 37, 'Corriente', '2014-01-03', 3456.12),
    (39, 38, 'Ahorros', '2019-10-25', 6789.34),
    (40, 39, 'Corriente', '2015-07-11', 2345.56),
    (41, 40, 'Ahorros', '2013-04-03', 8765.78),
    (42, 41, 'Corriente', '2017-11-18', 4567.90),
    (43, 42, 'Ahorros', '2020-06-01', 9012.12),
    (44, 43, 'Corriente', '2016-02-14', 5678.34),
    (45, 44, 'Ahorros', '2012-08-27', 7890.56),
    (46, 45, 'Corriente', '2018-03-10', 3456.78),
    (47, 46, 'Ahorros', '2014-10-05', 6789.90),
    (48, 47, 'Corriente', '2019-05-22', 2345.12),
    (49, 48, 'Ahorros', '2015-01-08', 8765.34),
    (50, 49, 'Corriente', '2011-09-30', 4567.56),
    (51, 50, 'Ahorros', '2017-06-15', 9012.78),
    (52, 51, 'Corriente', '2013-03-01', 5678.90),
    (53, 52, 'Ahorros', '2019-11-20', 7890.12),
    (54, 53, 'Corriente', '2016-08-07', 3456.34),
    (55, 54, 'Ahorros', '2014-04-25', 6789.56),
    (56, 55, 'Corriente', '2020-01-10', 2345.78),
    (57, 56, 'Ahorros', '2012-07-03', 8765.90),
    (58, 57, 'Corriente', '2018-02-18', 4567.12),
    (59, 58, 'Ahorros', '2015-09-01', 9012.34),
    (60, 59, 'Corriente', '2011-05-27', 5678.56),
    (61, 60, 'Ahorros', '2017-12-10', 7890.78),
    (62, 61, 'Corriente', '2013-06-23', 3456.90),
    (63, 62, 'Ahorros', '2019-03-08', 6789.12),
    (64, 63, 'Corriente', '2015-10-31', 2345.34),
    (65, 64, 'Ahorros', '2012-04-14', 8765.56),
    (66, 65, 'Corriente', '2018-11-01', 4567.78),
    (67, 66, 'Ahorros', '2016-06-25', 9012.90),
    (68, 67, 'Corriente', '2014-02-09', 5678.12),
    (69, 68, 'Ahorros', '2020-09-17', 7890.34),
    (70, 69, 'Corriente', '2017-05-03', 3456.56),
    (71, 70, 'Ahorros', '2013-12-20', 6789.78),
    (72, 71, 'Corriente', '2019-07-15', 2345.90),
    (73, 72, 'Ahorros', '2015-03-28', 8765.12),
    (74, 73, 'Corriente', '2011-10-11', 4567.34),
    (75, 74, 'Ahorros', '2018-04-24', 9012.56),
    (76, 75, 'Corriente', '2016-01-07', 5678.78),
    (77, 76, 'Ahorros', '2014-08-31', 7890.90),
    (78, 77, 'Corriente', '2020-05-16', 3456.12),
    (79, 78, 'Ahorros', '2012-11-03', 6789.34),
    (80, 79, 'Corriente', '2019-06-29', 2345.56),
    (81, 80, 'Ahorros', '2017-02-12', 8765.78),
    (82, 81, 'Corriente', '2013-09-05', 4567.90),
    (83, 82, 'Ahorros', '2015-04-20', 9012.12),
    (84, 83, 'Corriente', '2011-11-14', 5678.34),
    (85, 84, 'Ahorros', '2018-07-08', 7890.56),
    (86, 85, 'Corriente', '2016-03-01', 3456.78),
    (87, 86, 'Ahorros', '2014-10-25', 6789.90),
    (88, 87, 'Corriente', '2020-06-18', 2345.12),
    (89, 88, 'Ahorros', '2012-02-11', 8765.34),
    (90, 89, 'Corriente', '2019-09-04', 4567.56),
    (91, 90, 'Ahorros', '2017-05-27', 9012.78),
    (92, 91, 'Corriente', '2013-12-10', 5678.90),
    (93, 92, 'Ahorros', '2015-07-03', 7890.12),
    (94, 93, 'Corriente', '2011-03-26', 3456.34),
    (95, 94, 'Ahorros', '2018-10-09', 6789.56),
    (96, 95, 'Corriente', '2016-05-22', 2345.78),
    (97, 96, 'Ahorros', '2014-01-15', 8765.90),
    (98, 97, 'Corriente', '2020-08-29', 4567.12),
    (99, 98, 'Ahorros', '2012-04-03', 9012.34),
    (100, 99, 'Corriente', '2019-11-17', 5678.56);
*/

In [ ]:
/*
INSERT INTO bank.Transacciones (TransaccionID, CuentaID, Fecha, Tipo, Monto, Descripcion)
VALUES
    (1, 1, '2023-04-01', 'Depósito', 500.00, 'Depósito de nómina'),
    (2, 2, '2023-04-05', 'Retiro', 200.00, 'Retiro en cajero automático'),
    (3, 3, '2023-04-10', 'Transferencia', 1000.00, 'Transferencia desde otra cuenta'),
    (4, 4, '2023-04-15', 'Pago', 300.00, 'Pago de servicios públicos'),
    (5, 5, '2023-04-20', 'Depósito', 2000.00, 'Depósito de cheque'),
    (6, 6, '2023-04-25', 'Retiro', 150.00, 'Retiro en cajero automático'),
    (7, 7, '2023-04-30', 'Transferencia', 800.00, 'Transferencia a otra cuenta'),
    (8, 8, '2023-05-05', 'Pago', 400.00, 'Pago de tarjeta de crédito'),
    (9, 9, '2023-05-10', 'Depósito', 1500.00, 'Depósito de nómina'),
    (10, 10, '2023-05-15', 'Retiro', 250.00, 'Retiro en cajero automático'),
    (11, 11, '2023-05-20', 'Transferencia', 1200.00, 'Transferencia desde otra cuenta'),
    (12, 12, '2023-05-25', 'Pago', 350.00, 'Pago de servicios públicos'),
    (13, 13, '2023-05-30', 'Depósito', 2500.00, 'Depósito de cheque'),
    (14, 14, '2023-06-04', 'Retiro', 180.00, 'Retiro en cajero automático'),
    (15, 15, '2023-06-09', 'Transferencia', 900.00, 'Transferencia a otra cuenta'),
    (16, 16, '2023-06-14', 'Pago', 450.00, 'Pago de tarjeta de crédito'),
    (17, 17, '2023-06-19', 'Depósito', 1800.00, 'Depósito de nómina'),
    (18, 18, '2023-06-24', 'Retiro', 220.00, 'Retiro en cajero automático'),
    (19, 19, '2023-06-29', 'Transferencia', 1100.00, 'Transferencia desde otra cuenta'),
    (20, 20, '2023-07-04', 'Pago', 380.00, 'Pago de servicios públicos'),
    (21, 21, '2023-07-09', 'Depósito', 2200.00, 'Depósito de cheque'),
    (22, 22, '2023-07-14', 'Retiro', 160.00, 'Retiro en cajero automático'),
    (23, 23, '2023-07-19', 'Transferencia', 850.00, 'Transferencia a otra cuenta'),
    (24, 24, '2023-07-24', 'Pago', 420.00, 'Pago de tarjeta de crédito'),
    (25, 25, '2023-07-29', 'Depósito', 1900.00, 'Depósito de nómina'),
    (26, 26, '2023-08-03', 'Retiro', 240.00, 'Retiro en cajero automático'),
    (27, 27, '2023-08-08', 'Transferencia', 1300.00, 'Transferencia desde otra cuenta'),
    (28, 28, '2023-08-13', 'Pago', 390.00, 'Pago de servicios públicos'),
    (29, 29, '2023-08-18', 'Depósito', 2700.00, 'Depósito de cheque'),
    (30, 30, '2023-08-23', 'Retiro', 170.00, 'Retiro en cajero automático'),
    (31, 31, '2023-08-28', 'Transferencia', 950.00, 'Transferencia a otra cuenta'),
    (32, 32, '2023-09-02', 'Pago', 460.00, 'Pago de tarjeta de crédito'),
    (33, 33, '2023-09-07', 'Depósito', 2100.00, 'Depósito de nómina'),
    (34, 34, '2023-09-12', 'Retiro', 280.00, 'Retiro en cajero automático'),
    (35, 35, '2023-09-17', 'Transferencia', 1400.00, 'Transferencia desde otra cuenta'),
    (36, 36, '2023-09-22', 'Pago', 330.00, 'Pago de servicios públicos'),
    (37, 37, '2023-09-27', 'Depósito', 2300.00, 'Depósito de cheque'),
    (38, 38, '2023-10-02', 'Retiro', 190.00, 'Retiro en cajero automático'),
    (39, 39, '2023-10-07', 'Transferencia', 1000.00, 'Transferencia a otra cuenta'),
    (40, 40, '2023-10-12', 'Pago', 480.00, 'Pago de tarjeta de crédito'),
    (41, 41, '2023-10-17', 'Depósito', 2400.00, 'Depósito de nómina'),
    (42, 42, '2023-10-22', 'Retiro', 260.00, 'Retiro en cajero automático'),
    (43, 43, '2023-10-27', 'Transferencia', 1500.00, 'Transferencia desde otra cuenta'),
    (44, 44, '2023-11-01', 'Pago', 360.00, 'Pago de servicios públicos'),
    (45, 45, '2023-11-06', 'Depósito', 2800.00, 'Depósito de cheque'),
    (46, 46, '2023-11-11', 'Retiro', 210.00, 'Retiro en cajero automático'),
    (47, 47, '2023-11-16', 'Transferencia', 1100.00, 'Transferencia a otra cuenta'),
    (48, 48, '2023-11-21', 'Pago', 490.00, 'Pago de tarjeta de crédito'),
    (49, 49, '2023-11-26', 'Depósito', 2500.00, 'Depósito de nómina'),
    (50, 50, '2023-12-01', 'Retiro', 290.00, 'Retiro en cajero automático'),
    (51, 51, '2023-12-06', 'Transferencia', 1600.00, 'Transferencia desde otra cuenta'),
    (52, 52, '2023-12-11', 'Pago', 370.00, 'Pago de servicios públicos'),
    (53, 53, '2023-12-16', 'Depósito', 3000.00, 'Depósito de cheque'),
    (54, 54, '2023-12-21', 'Retiro', 230.00, 'Retiro en cajero automático'),
    (55, 55, '2023-12-26', 'Transferencia', 1200.00, 'Transferencia a otra cuenta'),
    (56, 56, '2023-12-31', 'Pago', 520.00, 'Pago de tarjeta de crédito'),
    (57, 1, '2024-01-05', 'Depósito', 2600.00, 'Depósito de nómina'),
    (58, 2, '2024-01-10', 'Retiro', 300.00, 'Retiro en cajero automático'),
    (59, 3, '2024-01-15', 'Transferencia', 1700.00, 'Transferencia desde otra cuenta'),
    (60, 4, '2024-01-20', 'Pago', 400.00, 'Pago de servicios públicos'),
    (61, 5, '2024-01-25', 'Depósito', 3200.00, 'Depósito de cheque'),
    (62, 6, '2024-01-30', 'Retiro', 250.00, 'Retiro en cajero automático'),
    (63, 7, '2024-02-04', 'Transferencia', 1300.00, 'Transferencia a otra cuenta'),
    (64, 8, '2024-02-09', 'Pago', 530.00, 'Pago de tarjeta de crédito'),
    (65, 9, '2024-02-14', 'Depósito', 2700.00, 'Depósito de nómina'),
    (66, 10, '2024-02-19', 'Retiro', 320.00, 'Retiro en cajero automático'),
    (67, 11, '2024-02-24', 'Transferencia', 1800.00, 'Transferencia desde otra cuenta'),
    (68, 12, '2024-02-29', 'Pago', 430.00, 'Pago de servicios públicos'),
    (69, 13, '2024-03-05', 'Depósito', 3400.00, 'Depósito de cheque'),
    (70, 14, '2024-03-10', 'Retiro', 270.00, 'Retiro en cajero automático'),
    (71, 15, '2024-03-15', 'Transferencia', 1400.00, 'Transferencia a otra cuenta'),
    (72, 16, '2024-03-20', 'Pago', 560.00, 'Pago de tarjeta de crédito'),
    (73, 17, '2024-03-25', 'Depósito', 2800.00, 'Depósito de nómina'),
    (74, 18, '2024-03-30', 'Retiro', 340.00, 'Retiro en cajero automático'),
    (75, 19, '2024-04-04', 'Transferencia', 1900.00, 'Transferencia desde otra cuenta'),
    (76, 20, '2024-04-09', 'Pago', 460.00, 'Pago de servicios públicos'),
    (77, 21, '2024-04-14', 'Depósito', 3500.00, 'Depósito de cheque'),
    (78, 22, '2024-04-19', 'Retiro', 280.00, 'Retiro en cajero automático'),
    (79, 23, '2024-04-24', 'Transferencia', 1500.00, 'Transferencia a otra cuenta'),
    (80, 24, '2024-04-29', 'Pago', 590.00, 'Pago de tarjeta de crédito'),
    (81, 25, '2024-05-04', 'Depósito', 2900.00, 'Depósito de nómina'),
    (82, 26, '2024-05-09', 'Retiro', 360.00, 'Retiro en cajero automático'),
    (83, 27, '2024-05-14', 'Transferencia', 2000.00, 'Transferencia desde otra cuenta'),
    (84, 28, '2024-05-19', 'Pago', 470.00, 'Pago de servicios públicos'),
    (85, 29, '2024-05-24', 'Depósito', 3600.00, 'Depósito de cheque'),
    (86, 30, '2024-05-29', 'Retiro', 290.00, 'Retiro en cajero automático'),
    (87, 31, '2024-06-03', 'Transferencia', 1600.00, 'Transferencia a otra cuenta'),
    (88, 32, '2024-06-08', 'Pago', 620.00, 'Pago de tarjeta de crédito'),
    (89, 33, '2024-06-13', 'Depósito', 3000.00, 'Depósito de nómina'),
    (90, 34, '2024-06-18', 'Retiro', 380.00, 'Retiro en cajero automático'), 
    (91, 35, '2024-06-23', 'Transferencia', 2100.00, 'Transferencia desde otra cuenta'),
    (92, 36, '2024-06-28', 'Pago', 500.00, 'Pago de servicios públicos'),
    (93, 37, '2024-07-03', 'Depósito', 3700.00, 'Depósito de cheque'),
    (94, 38, '2024-07-08', 'Retiro', 310.00, 'Retiro en cajero automático'),
    (95, 39, '2024-07-13', 'Transferencia', 1700.00, 'Transferencia a otra cuenta'),
    (96, 40, '2024-07-18', 'Pago', 630.00, 'Pago de tarjeta de crédito'),
    (97, 41, '2024-07-23', 'Depósito', 3100.00, 'Depósito de nómina'),
    (98, 42, '2024-07-28', 'Retiro', 390.00, 'Retiro en cajero automático'),
    (99, 43, '2024-08-02', 'Transferencia', 2200.00, 'Transferencia desde otra cuenta'),
    (100, 44, '2024-08-07', 'Pago', 530.00, 'Pago de servicios públicos');
*/

1\. ¿Cuántos clientes hay en la base de datos?

In [3]:
SELECT distinct COUNT(*) FROM bank.Clientes;

COUNT(*)
100

2. ¿Cuál es el saldo total de todas las cuentas?

In [5]:
SELECT SUM(Saldo) AS 'Saldo Total' FROM bank.Cuentas;

Saldo Total
601209.06

**3. ¿Cuál es el cliente con la cuenta de mayor saldo?**

In [18]:
SELECT Nombre, Apellido, Saldo
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
ORDER BY cu.Saldo DESC
-- LIMIT 1;

Nombre,Apellido,Saldo
María,García,9876.54
Julieta,Baeza,9012.90
Silvia,Vargas,9012.90
Amelia,Polo,9012.78
Isabella,Quintero,9012.78
Valeria,Espinosa,9012.56
Ariana,Henríquez,9012.56
Lucía,Romero,9012.45
Isabel,Ramírez,9012.34
Constanza,Avendaño,9012.34
Ángel,Zepeda,9012.34
Violeta,Ugarte,9012.12
Mariana,Pizarro,9012.12
Catalina,Solano,8765.90
Álvaro,Leal,8765.90
Luana,Santamaría,8765.78
Camila,Acosta,8765.78
Daniela,Cabrera,8765.56
Rafaela,Acuña,8765.56
Sofía,Torres,8765.43
Renata,Segovia,8765.34
Maite,Heredia,8765.34
Amanda,Parra,8765.12
Adriana,Guerrero,8765.12
Alicia,Gutiérrez,8765.09
Fernanda,Tapia,7890.90
Natalia,Aguilar,7890.90
Elena,Santos,7890.89
Isadora,Echevarría,7890.78
Valentina,Piña,7890.56
Avril,Olmedo,7890.56
Carolina,Pardo,7890.34
Florencia,Quintana,7890.34
Ana,Martínez,7890.25
Bautista,Contreras,7890.12
Sofía,Uribe,7890.12
Marta,Jiménez,7890.12
Rebeca,Cisneros,6789.90
Paloma,Espinoza,6789.90
Claudia,Suárez,6789.78
Bianca,Rendón,6789.78
Antonella,Rincón,6789.56
Tristán,Sepúlveda,6789.56
Carla,Ruiz,6789.34
Gabriela,Arias,6789.34
Dulce,Quintero,6789.34
Cristina,Molina,6789.12
Antonia,Zúñiga,6789.12
Laura,Fernández,6789.01
Tomás,Castañeda,5678.90
Andrés,Herrera,5678.90
Amelia,Peña,5678.90
Salvador,Morales,5678.78
Gustavo,Hidalgo,5678.78
Óscar,Ramos,5678.67
Esmeralda,Vigil,5678.56
Joaquín,Cáceres,5678.56
Leonardo,Escobar,5678.34
Ignacio,Solís,5678.34
Juan,Pérez,5678.25
Roberto,Sáez,5678.12
Ezequiel,Montero,5678.12
Nicolás,Ledesma,4567.90
Máximo,Saldivar,4567.90
Sergio,Navarro,4567.89
Maximiliano,Yáñez,4567.78
Pablo,Ortega,4567.78
Emiliano,Salcedo,4567.56
Gael,Bernal,4567.56
Emilio,Crespo,4567.34
Ernesto,Montes,4567.34
Raúl,Vázquez,4567.23
Benjamín,Carvajal,4567.12
Dafne,Robles,4567.12
Lucas,Pizarro,3456.90
Carlos,Sánchez,3456.78
Leonel,Urrutia,3456.78
Damián,Arce,3456.78
Luis,Moreno,3456.78
David,Rojas,3456.56
Thiago,Olivares,3456.56
Luciana,Velázquez,3456.34
Martín,Salinas,3456.34
Emmanuel,Concha,3456.12
Rodrigo,Serrano,3456.12
Alejandro,Flores,3456.01
Francisco,Ríos,2345.90
Cristóbal,Palacios,2345.90
Santiago,Estrada,2345.78
Jimena,Galindo,2345.78
Javier,Gómez,2345.67
Juan,Pérez,2345.67
Diego,Álvarez,2345.67
Lisandro,Peralta,2345.56
Mateo,Córdoba,2345.56
Matías,Márquez,2345.34
Mario,Castillo,2345.34
Samuel,Villalobos,2345.12
Fabrizio,Mora,2345.12
Pedro,Rodríguez,1234.56

**4. ¿Cuántas cuentas de ahorros hay en total?**

In [11]:
SELECT COUNT(*) AS 'Cuentas de Ahorros' FROM bank.Cuentas WHERE TipoCuenta = 'Ahorros';

Cuentas de Ahorros
50

**5. ¿Cuál es el monto total de depósitos realizados?**

In [13]:
SELECT SUM(Monto) AS 'Total Depósitos' FROM bank.Transacciones WHERE Tipo = 'Depósito';

Total Depósitos
64700.00

**6. ¿Cuál es el cliente con la mayor cantidad de cuentas?**

In [17]:
SELECT Nombre, Apellido, COUNT(CuentaID) AS 'Cantidad de Cuentas'
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
GROUP BY c.ClienteID
ORDER BY 'Cantidad de Cuentas' DESC
-- LIMIT 1;

Nombre,Apellido,Cantidad de Cuentas
Juan,Pérez,2
María,García,1
Pedro,Rodríguez,1
Ana,Martínez,1
Carlos,Sánchez,1
Laura,Fernández,1
Javier,Gómez,1
Sofía,Torres,1
Sergio,Navarro,1
Isabel,Ramírez,1
Andrés,Herrera,1
Marta,Jiménez,1
Luis,Moreno,1
Carla,Ruiz,1
Diego,Álvarez,1
Alicia,Gutiérrez,1
Raúl,Vázquez,1
Lucía,Romero,1
Óscar,Ramos,1
Elena,Santos,1
Alejandro,Flores,1
Cristina,Molina,1
Mario,Castillo,1
Daniela,Cabrera,1
Pablo,Ortega,1
Silvia,Vargas,1
Roberto,Sáez,1
Carolina,Pardo,1
David,Rojas,1
Claudia,Suárez,1
Francisco,Ríos,1
Adriana,Guerrero,1
Ernesto,Montes,1
Valeria,Espinosa,1
Gustavo,Hidalgo,1
Natalia,Aguilar,1
Rodrigo,Serrano,1
Gabriela,Arias,1
Mateo,Córdoba,1
Camila,Acosta,1
Nicolás,Ledesma,1
Mariana,Pizarro,1
Leonardo,Escobar,1
Valentina,Piña,1
Damián,Arce,1
Rebeca,Cisneros,1
Samuel,Villalobos,1
Renata,Segovia,1
Emiliano,Salcedo,1
Isabella,Quintero,1
Tomás,Castañeda,1
Sofía,Uribe,1
Martín,Salinas,1
Antonella,Rincón,1
Santiago,Estrada,1
Catalina,Solano,1
Benjamín,Carvajal,1
Constanza,Avendaño,1
Joaquín,Cáceres,1
Isadora,Echevarría,1
Lucas,Pizarro,1
Antonia,Zúñiga,1
Matías,Márquez,1
Rafaela,Acuña,1
Maximiliano,Yáñez,1
Julieta,Baeza,1
Ezequiel,Montero,1
Florencia,Quintana,1
Thiago,Olivares,1
Bianca,Rendón,1
Cristóbal,Palacios,1
Amanda,Parra,1
Emilio,Crespo,1
Ariana,Henríquez,1
Salvador,Morales,1
Fernanda,Tapia,1
Emmanuel,Concha,1
Dulce,Quintero,1
Lisandro,Peralta,1
Luana,Santamaría,1
Máximo,Saldivar,1
Violeta,Ugarte,1
Ignacio,Solís,1
Avril,Olmedo,1
Leonel,Urrutia,1
Paloma,Espinoza,1
Fabrizio,Mora,1
Maite,Heredia,1
Gael,Bernal,1
Amelia,Polo,1
Amelia,Peña,1
Bautista,Contreras,1
Luciana,Velázquez,1
Tristán,Sepúlveda,1
Jimena,Galindo,1
Álvaro,Leal,1
Dafne,Robles,1
Ángel,Zepeda,1
Esmeralda,Vigil,1

**7. ¿Cuál es la ciudad con más clientes?**

In [19]:
SELECT Ciudad, COUNT(*) AS 'Cantidad de Clientes'
FROM bank.Clientes
GROUP BY Ciudad
ORDER BY 'Cantidad de Clientes' DESC
-- LIMIT 1;

Ciudad,Cantidad de Clientes
Madrid,20
Barcelona,24
Sevilla,14
Valencia,10
Bilbao,2
Málaga,10
Alicante,7
Palma de Mallorca,1
Zaragoza,11
Pamplona,1

**8. ¿Cuál es el monto promedio de los retiros?**

In [20]:
SELECT AVG(Monto) AS 'Promedio de Retiros' FROM bank.Transacciones WHERE Tipo = 'Retiro';

Promedio de Retiros
260.800000

**9. ¿Cuáles son los clientes que no tienen cuentas?**

In [21]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
LEFT JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.CuentaID IS NULL;

Nombre,Apellido
Pascual,Betancourt

**10. ¿Cuál es la cuenta con la mayor cantidad de transacciones?**

In [22]:
SELECT cu.CuentaID, COUNT(t.TransaccionID) AS 'Cantidad de Transacciones'
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY cu.CuentaID
ORDER BY 'Cantidad de Transacciones' DESC
-- LIMIT 1;

CuentaID,Cantidad de Transacciones
1,2
2,2
3,2
4,2
5,2
6,2
7,2
8,2
9,2
10,2
11,2
12,2
13,2
14,2
15,2
16,2
17,2
18,2
19,2
20,2
21,2
22,2
23,2
24,2
25,2
26,2
27,2
28,2
29,2
30,2
31,2
32,2
33,2
34,2
35,2
36,2
37,2
38,2
39,2
40,2
41,2
42,2
43,2
44,2
45,1
46,1
47,1
48,1
49,1
50,1
51,1
52,1
53,1
54,1
55,1
56,1

11. **¿Cuáles son los clientes que tienen cuentas de ahorros y corrientes?**

In [23]:
SELECT Nombre, Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu1 ON c.ClienteID = cu1.ClienteID AND cu1.TipoCuenta = 'Ahorros'
JOIN bank.Cuentas cu2 ON c.ClienteID = cu2.ClienteID AND cu2.TipoCuenta = 'Corriente'
GROUP BY c.ClienteID;

Nombre,Apellido
Juan,Pérez

**12\. ¿Cuál es el monto total de transacciones por tipo (depósito, retiro, transferencia, pago)?**

In [24]:
SELECT Tipo, SUM(Monto) AS 'Monto Total'
FROM bank.Transacciones
GROUP BY Tipo;

Tipo,Monto Total
Depósito,64700.00
Retiro,6520.00
Transferencia,35100.00
Pago,11420.00

**13. ¿Cuál es la cuenta con el saldo más bajo?**

In [25]:
SELECT CuentaID, Saldo
FROM bank.Cuentas
ORDER BY Saldo ASC
-- LIMIT 1;

CuentaID,Saldo
4,1234.56
88,2345.12
48,2345.12
24,2345.34
64,2345.34
80,2345.56
40,2345.56
2,2345.67
8,2345.67
16,2345.67
56,2345.78
96,2345.78
72,2345.90
32,2345.90
22,3456.01
78,3456.12
38,3456.12
54,3456.34
94,3456.34
70,3456.56
30,3456.56
86,3456.78
6,3456.78
14,3456.78
46,3456.78
62,3456.90
58,4567.12
98,4567.12
18,4567.23
34,4567.34
74,4567.34
90,4567.56
50,4567.56
66,4567.78
26,4567.78
10,4567.89
82,4567.90
42,4567.90
68,5678.12
28,5678.12
1,5678.25
44,5678.34
84,5678.34
60,5678.56
100,5678.56
20,5678.67
36,5678.78
76,5678.78
12,5678.90
52,5678.90
92,5678.90
7,6789.01
63,6789.12
23,6789.12
79,6789.34
15,6789.34
39,6789.34
95,6789.56
55,6789.56
31,6789.78
71,6789.78
87,6789.90
47,6789.90
13,7890.12
53,7890.12
93,7890.12
5,7890.25
69,7890.34
29,7890.34
85,7890.56
45,7890.56
61,7890.78
21,7890.89
37,7890.90
77,7890.90
17,8765.09
33,8765.12
73,8765.12
49,8765.34
89,8765.34
9,8765.43
65,8765.56
25,8765.56
41,8765.78
81,8765.78
97,8765.90
57,8765.90
83,9012.12
43,9012.12
59,9012.34
11,9012.34
99,9012.34
19,9012.45
75,9012.56
35,9012.56
91,9012.78
51,9012.78
27,9012.90
67,9012.90
3,9876.54

**14. ¿Cuáles son los clientes que no han realizado transacciones?**

In [27]:
SELECT Nombre, Apellido
FROM bank.Clientes c
LEFT JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
LEFT JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
WHERE t.TransaccionID IS NULL
GROUP BY c.ClienteID;

Nombre,Apellido
Catalina,Solano
Benjamín,Carvajal
Constanza,Avendaño
Joaquín,Cáceres
Isadora,Echevarría
Lucas,Pizarro
Antonia,Zúñiga
Matías,Márquez
Rafaela,Acuña
Maximiliano,Yáñez
Julieta,Baeza
Ezequiel,Montero
Florencia,Quintana
Thiago,Olivares
Bianca,Rendón
Cristóbal,Palacios
Amanda,Parra
Emilio,Crespo
Ariana,Henríquez
Salvador,Morales
Fernanda,Tapia
Emmanuel,Concha
Dulce,Quintero
Lisandro,Peralta
Luana,Santamaría
Máximo,Saldivar
Violeta,Ugarte
Ignacio,Solís
Avril,Olmedo
Leonel,Urrutia
Paloma,Espinoza
Fabrizio,Mora
Maite,Heredia
Gael,Bernal
Amelia,Polo
Amelia,Peña
Bautista,Contreras
Luciana,Velázquez
Tristán,Sepúlveda
Jimena,Galindo
Álvaro,Leal
Dafne,Robles
Ángel,Zepeda
Esmeralda,Vigil
Pascual,Betancourt

**15. ¿Cuál es la fecha de la transacción más antigua?**

In [28]:
SELECT MIN(Fecha) AS 'Fecha más Antigua'
FROM bank.Transacciones;

Fecha más Antigua
2023-04-01

**16. ¿Cuáles son las 10 cuentas con mayor saldo?**

In [29]:
SELECT CuentaID, Saldo
FROM bank.Cuentas
ORDER BY Saldo DESC
LIMIT 10;

CuentaID,Saldo
3,9876.54
27,9012.90
67,9012.90
91,9012.78
51,9012.78
75,9012.56
35,9012.56
19,9012.45
59,9012.34
11,9012.34

**17. ¿Cuál es el cliente con la mayor cantidad de transacciones?**

In [30]:
SELECT c.Nombre, c.Apellido, COUNT(t.TransaccionID) AS 'Cantidad de Transacciones'
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY c.ClienteID
ORDER BY 'Cantidad de Transacciones' DESC
LIMIT 1;

Nombre,Apellido,Cantidad de Transacciones
Juan,Pérez,4

**18. ¿Cuáles son las 5 ciudades con más clientes?**

In [32]:
SELECT Ciudad, COUNT(*) AS 'Cantidad de Clientes'
FROM bank.Clientes
GROUP BY Ciudad
ORDER BY 'Cantidad de Clientes' DESC
LIMIT 5;

Ciudad,Cantidad de Clientes
Madrid,20
Barcelona,24
Sevilla,14
Valencia,10
Bilbao,2

**19. ¿Cuál es el monto promedio de las transferencias?**

In [33]:
SELECT AVG(Monto) AS 'Promedio de Transferencias'
FROM bank.Transacciones
WHERE Tipo = 'Transferencia';

Promedio de Transferencias
1404.000000

**20. ¿Cuáles son los clientes que tienen cuentas abiertas en los últimos 6 meses?**

In [37]:
SELECT Nombre, Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.FechaApertura >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);

**21. ¿Cuál es el monto total de pagos realizados?**

In [38]:
SELECT SUM(Monto) AS 'Total Pagos'
FROM bank.Transacciones
WHERE Tipo = 'Pago';

Total Pagos
11420.00

**22. ¿Cuáles son los clientes que tienen cuentas inactivas (sin transacciones en los últimos 3 meses)?**

In [39]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
LEFT JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID AND t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
WHERE t.TransaccionID IS NULL
GROUP BY c.ClienteID;

Nombre,Apellido
Juan,Pérez
María,García
Pedro,Rodríguez
Ana,Martínez
Carlos,Sánchez
Laura,Fernández
Javier,Gómez
Sofía,Torres
Valentina,Piña
Damián,Arce
Rebeca,Cisneros
Samuel,Villalobos
Renata,Segovia
Emiliano,Salcedo
Isabella,Quintero
Tomás,Castañeda
Sofía,Uribe
Martín,Salinas
Antonella,Rincón
Santiago,Estrada
Catalina,Solano
Benjamín,Carvajal
Constanza,Avendaño
Joaquín,Cáceres
Isadora,Echevarría
Lucas,Pizarro
Antonia,Zúñiga
Matías,Márquez
Rafaela,Acuña
Maximiliano,Yáñez
Julieta,Baeza
Ezequiel,Montero
Florencia,Quintana
Thiago,Olivares
Bianca,Rendón
Cristóbal,Palacios
Amanda,Parra
Emilio,Crespo
Ariana,Henríquez
Salvador,Morales
Fernanda,Tapia
Emmanuel,Concha
Dulce,Quintero
Lisandro,Peralta
Luana,Santamaría
Máximo,Saldivar
Violeta,Ugarte
Ignacio,Solís
Avril,Olmedo
Leonel,Urrutia
Paloma,Espinoza
Fabrizio,Mora
Maite,Heredia
Gael,Bernal
Amelia,Polo
Amelia,Peña
Bautista,Contreras
Luciana,Velázquez
Tristán,Sepúlveda
Jimena,Galindo
Álvaro,Leal
Dafne,Robles
Ángel,Zepeda
Esmeralda,Vigil

**23. ¿Cuál es el monto promedio de depósitos por ciudad?**

In [40]:
SELECT c.Ciudad, AVG(t.Monto) AS 'Promedio de Depósitos'
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID AND t.Tipo = 'Depósito'
GROUP BY c.Ciudad;

Ciudad,Promedio de Depósitos
Madrid,2225.000000
Valencia,2650.000000
Palma de Mallorca,2100.000000
Barcelona,2687.500000
Bilbao,2850.000000
Sevilla,3000.000000
Zaragoza,2500.000000

**24. ¿Cuáles son las 10 cuentas con más transacciones?**

In [41]:
SELECT cu.CuentaID, COUNT(t.TransaccionID) AS 'Cantidad de Transacciones'
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY cu.CuentaID
ORDER BY 'Cantidad de Transacciones' DESC
LIMIT 10;

CuentaID,Cantidad de Transacciones
1,2
2,2
3,2
4,2
5,2
6,2
7,2
8,2
9,2
10,2

**25. ¿Cuáles son los clientes que tienen un saldo total (sumando todas sus cuentas) superior a $9000?**

In [49]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
GROUP BY c.ClienteID
HAVING SUM(cu.Saldo) > 9500;

Nombre,Apellido
María,García

**26. ¿Cuáles son las cuentas que han tenido transacciones en todas las fechas del último mes?**

In [53]:
SELECT cu.CuentaID
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
WHERE t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH)
GROUP BY cu.CuentaID
HAVING COUNT(DISTINCT DATE(t.Fecha)) = (SELECT COUNT(DISTINCT DATE(Fecha)) FROM bank.Transacciones WHERE Fecha >= DATE_SUB(CURDATE(), INTERVAL 1 MONTH));

**27. ¿Cuál es el monto promedio de transacciones por tipo de cuenta?**

In [54]:
SELECT cu.TipoCuenta, AVG(t.Monto) AS 'Promedio de Transacciones'
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY cu.TipoCuenta;

TipoCuenta,Promedio de Transacciones
Ahorros,1996.000000
Corriente,358.800000

**28. ¿Cuáles son los clientes que tienen cuentas con saldo superior al saldo promedio de todas las cuentas?**

In [56]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.Saldo > (SELECT AVG(Saldo) FROM bank.Cuentas);

Nombre,Apellido
María,García
Ana,Martínez
Laura,Fernández
Sofía,Torres
Isabel,Ramírez
Marta,Jiménez
Carla,Ruiz
Alicia,Gutiérrez
Lucía,Romero
Elena,Santos
Cristina,Molina
Daniela,Cabrera
Silvia,Vargas
Carolina,Pardo
Claudia,Suárez
Adriana,Guerrero
Valeria,Espinosa
Natalia,Aguilar
Gabriela,Arias
Camila,Acosta
Mariana,Pizarro
Valentina,Piña
Rebeca,Cisneros
Renata,Segovia
Isabella,Quintero
Sofía,Uribe
Antonella,Rincón
Catalina,Solano
Constanza,Avendaño
Isadora,Echevarría
Antonia,Zúñiga
Rafaela,Acuña
Julieta,Baeza
Florencia,Quintana
Bianca,Rendón
Amanda,Parra
Ariana,Henríquez
Fernanda,Tapia
Dulce,Quintero
Luana,Santamaría
Violeta,Ugarte
Avril,Olmedo
Paloma,Espinoza
Maite,Heredia
Amelia,Polo
Bautista,Contreras
Tristán,Sepúlveda
Álvaro,Leal
Ángel,Zepeda

**29. ¿Cuál es el monto total de transacciones por cliente y tipo de transacción?**

In [57]:
SELECT c.Nombre, c.Apellido, t.Tipo, SUM(t.Monto) AS 'Monto Total'
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY c.ClienteID, t.Tipo;

Nombre,Apellido,Tipo,Monto Total
Juan,Pérez,Depósito,3100.00
Juan,Pérez,Retiro,500.00
María,García,Transferencia,2700.00
Pedro,Rodríguez,Pago,700.00
Ana,Martínez,Depósito,5200.00
Carlos,Sánchez,Retiro,400.00
Laura,Fernández,Transferencia,2100.00
Javier,Gómez,Pago,930.00
Sofía,Torres,Depósito,4200.00
Sergio,Navarro,Retiro,570.00
Isabel,Ramírez,Transferencia,3000.00
Andrés,Herrera,Pago,780.00
Marta,Jiménez,Depósito,5900.00
Luis,Moreno,Retiro,450.00
Carla,Ruiz,Transferencia,2300.00
Diego,Álvarez,Pago,1010.00
Alicia,Gutiérrez,Depósito,4600.00
Raúl,Vázquez,Retiro,560.00
Lucía,Romero,Transferencia,3000.00
Óscar,Ramos,Pago,840.00
Elena,Santos,Depósito,5700.00
Alejandro,Flores,Retiro,440.00
Cristina,Molina,Transferencia,2350.00
Mario,Castillo,Pago,1010.00
Daniela,Cabrera,Depósito,4800.00
Pablo,Ortega,Retiro,600.00
Silvia,Vargas,Transferencia,3300.00
Roberto,Sáez,Pago,860.00
Carolina,Pardo,Depósito,6300.00
David,Rojas,Retiro,460.00
Claudia,Suárez,Transferencia,2550.00
Francisco,Ríos,Pago,1080.00
Adriana,Guerrero,Depósito,5100.00
Ernesto,Montes,Retiro,660.00
Valeria,Espinosa,Transferencia,3500.00
Gustavo,Hidalgo,Pago,830.00
Natalia,Aguilar,Depósito,6000.00
Rodrigo,Serrano,Retiro,500.00
Gabriela,Arias,Transferencia,2700.00
Mateo,Córdoba,Pago,1110.00
Camila,Acosta,Depósito,5500.00
Nicolás,Ledesma,Retiro,650.00
Mariana,Pizarro,Transferencia,3700.00
Leonardo,Escobar,Pago,890.00
Valentina,Piña,Depósito,2800.00
Damián,Arce,Retiro,210.00
Rebeca,Cisneros,Transferencia,1100.00
Samuel,Villalobos,Pago,490.00
Renata,Segovia,Depósito,2500.00
Emiliano,Salcedo,Retiro,290.00
Isabella,Quintero,Transferencia,1600.00
Tomás,Castañeda,Pago,370.00
Sofía,Uribe,Depósito,3000.00
Martín,Salinas,Retiro,230.00
Antonella,Rincón,Transferencia,1200.00
Santiago,Estrada,Pago,520.00

**30. ¿Cuáles son las cuentas que no han tenido transacciones en los últimos 6 meses?**

In [58]:
SELECT cu.CuentaID
FROM bank.Cuentas cu
LEFT JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID AND t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH)
WHERE t.TransaccionID IS NULL
GROUP BY cu.CuentaID;

CuentaID
45
46
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

**31. ¿Cuál es el monto promedio de transacciones por rango de edad de los clientes?**

In [67]:
SELECT
    RangoDeEdad,
    AVG(Monto) AS 'Promedio de Transacciones'
FROM (
    SELECT
        c.ClienteID,
        t.Monto,
        CASE
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) < 30 THEN '18-29'
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) BETWEEN 30 AND 39 THEN '30-39'
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) BETWEEN 40 AND 49 THEN '40-49'
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) BETWEEN 50 AND 59 THEN '50-59'
            ELSE '60+'
        END AS RangoDeEdad
    FROM bank.Clientes c
    JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
    JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
) AS Subconsulta
GROUP BY RangoDeEdad;

RangoDeEdad,Promedio de Transacciones
30-39,1617.058824
40-49,440.000000
18-29,1686.363636

32. **¿Cuáles son los clientes que tienen cuentas con un saldo superior a la mitad **del saldo promedio de todas las cuentas?**  
    **

In [70]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.Saldo > (SELECT 2 * AVG(Saldo) FROM bank.Cuentas);

**33. ¿Cuál es el monto total de transacciones por mes y año?**

In [73]:
SELECT YEAR(Fecha) AS 'Año', MONTH(Fecha) AS 'Mes', SUM(Monto) AS 'Monto Total'
FROM bank.Transacciones
GROUP BY YEAR(Fecha), MONTH(Fecha)
ORDER BY YEAR(Fecha), MONTH(Fecha);

Año,Mes,Monto Total
2023,4,4950.00
2023,5,6200.00
2023,6,4650.00
2023,7,5910.00
2023,8,5750.00
2023,9,6870.00
2023,10,5830.00
2023,11,7460.00
2023,12,7210.00
2024,1,8450.00
2024,2,7080.00
2024,3,8770.00
2024,4,8230.00
2024,5,9620.00
2024,6,8200.00
2024,7,9830.00
2024,8,2730.00

**34. ¿Cuáles son las cuentas que han tenido transacciones en todas las fechas del último trimestre?**

In [74]:
SELECT cu.CuentaID
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
WHERE t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH)
GROUP BY cu.CuentaID
HAVING COUNT(DISTINCT DATE(t.Fecha)) = (SELECT COUNT(DISTINCT DATE(Fecha)) FROM bank.Transacciones WHERE Fecha >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH));

**35. ¿Cuál es el monto promedio de depósitos por rango de saldo de las cuentas?**

In [78]:
SELECT
    RangoDeSaldo,
    AVG(Monto) AS 'Promedio de Depósitos'
FROM (
    SELECT
        cu.CuentaID,
        cu.Saldo,
        t.Monto,
        CASE
            WHEN cu.Saldo < 5000 THEN 'Menor a $5,000'
            WHEN cu.Saldo BETWEEN 5000 AND 10000 THEN '$5,000 - $10,000'
            WHEN cu.Saldo BETWEEN 10000 AND 20000 THEN '$10,000 - $20,000'
            ELSE 'Mayor a $20,000'
        END AS RangoDeSaldo
    FROM bank.Cuentas cu
    JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
    WHERE t.Tipo = 'Depósito'
) AS Subconsulta
GROUP BY RangoDeSaldo;

RangoDeSaldo,Promedio de Depósitos
"$5,000 - $10,000",2588.000000

**36. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo máximo de todas las cuentas de ahorros?**

In [79]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.Saldo > (SELECT MAX(Saldo) FROM bank.Cuentas WHERE TipoCuenta = 'Ahorros');

**37. ¿Cuál es el monto total de transacciones por día de la semana?**

In [81]:
SELECT DAYNAME(Fecha) AS 'Día de la Semana', SUM(Monto) AS 'Monto Total'
FROM bank.Transacciones
GROUP BY DAYNAME(Fecha), DAYOFWEEK(Fecha)
ORDER BY DAYOFWEEK(Fecha);

Día de la Semana,Monto Total
Sunday,16280.00
Monday,15100.00
Tuesday,18290.00
Wednesday,17010.00
Thursday,17120.00
Friday,17390.00
Saturday,16550.00

38. ¿Cuáles son las cuentas que han tenido transacciones en todos los meses del año en curso?

In [82]:
SELECT cu.CuentaID
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
WHERE YEAR(t.Fecha) = YEAR(CURDATE())
GROUP BY cu.CuentaID
HAVING COUNT(DISTINCT MONTH(t.Fecha)) = 12;

**39. ¿Cuál es el monto promedio de retiros por rango de edad de los clientes?**

In [86]:
SELECT
    RangoDeEdad,
    AVG(Monto) AS 'Promedio de Retiros'
FROM (
    SELECT
        c.ClienteID,
        t.Monto,
        CASE
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) < 30 THEN 'Menor de 30'
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) BETWEEN 30 AND 39 THEN '30-39'
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) BETWEEN 40 AND 49 THEN '40-49'
            WHEN YEAR(CURDATE()) - YEAR(c.FechaNacimiento) BETWEEN 50 AND 59 THEN '50-59'
            ELSE '60 o más'
        END AS RangoDeEdad
    FROM bank.Clientes c
    JOIN bank.Transacciones t ON c.ClienteID = t.CuentaID  
    WHERE t.Tipo = 'Retiro'
) AS Subconsulta
GROUP BY RangoDeEdad;

RangoDeEdad,Promedio de Retiros
30-39,263.529412
Menor de 30,255.000000

40. ¿Cuáles son los clientes que tienen cuentas con un saldo inferior al saldo mínimo de todas las cuentas corrientes?

In [87]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.Saldo < (SELECT MIN(Saldo) FROM bank.Cuentas WHERE TipoCuenta = 'Corriente');

41. ¿Cuál es el monto total de transacciones por cliente, ordenado de mayor a menor?

In [88]:
SELECT c.Nombre, c.Apellido, SUM(t.Monto) AS 'Monto Total'
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY c.ClienteID
ORDER BY 'Monto Total' DESC;

Nombre,Apellido,Monto Total
Juan,Pérez,3600.00
María,García,2700.00
Pedro,Rodríguez,700.00
Ana,Martínez,5200.00
Carlos,Sánchez,400.00
Laura,Fernández,2100.00
Javier,Gómez,930.00
Sofía,Torres,4200.00
Sergio,Navarro,570.00
Isabel,Ramírez,3000.00
Andrés,Herrera,780.00
Marta,Jiménez,5900.00
Luis,Moreno,450.00
Carla,Ruiz,2300.00
Diego,Álvarez,1010.00
Alicia,Gutiérrez,4600.00
Raúl,Vázquez,560.00
Lucía,Romero,3000.00
Óscar,Ramos,840.00
Elena,Santos,5700.00
Alejandro,Flores,440.00
Cristina,Molina,2350.00
Mario,Castillo,1010.00
Daniela,Cabrera,4800.00
Pablo,Ortega,600.00
Silvia,Vargas,3300.00
Roberto,Sáez,860.00
Carolina,Pardo,6300.00
David,Rojas,460.00
Claudia,Suárez,2550.00
Francisco,Ríos,1080.00
Adriana,Guerrero,5100.00
Ernesto,Montes,660.00
Valeria,Espinosa,3500.00
Gustavo,Hidalgo,830.00
Natalia,Aguilar,6000.00
Rodrigo,Serrano,500.00
Gabriela,Arias,2700.00
Mateo,Córdoba,1110.00
Camila,Acosta,5500.00
Nicolás,Ledesma,650.00
Mariana,Pizarro,3700.00
Leonardo,Escobar,890.00
Valentina,Piña,2800.00
Damián,Arce,210.00
Rebeca,Cisneros,1100.00
Samuel,Villalobos,490.00
Renata,Segovia,2500.00
Emiliano,Salcedo,290.00
Isabella,Quintero,1600.00
Tomás,Castañeda,370.00
Sofía,Uribe,3000.00
Martín,Salinas,230.00
Antonella,Rincón,1200.00
Santiago,Estrada,520.00

42. ¿Cuáles son las cuentas que han tenido al menos una transacción en cada uno de los últimos 12 meses?

In [89]:
SELECT cu.CuentaID
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
WHERE t.Fecha >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH)
GROUP BY cu.CuentaID
HAVING COUNT(DISTINCT MONTH(t.Fecha)) = 12;

43. ¿Cuál es el monto promedio de transferencias por ciudad de los clientes?

In [90]:
SELECT c.Ciudad, AVG(t.Monto) AS 'Promedio de Transferencias'
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID AND t.Tipo = 'Transferencia'
GROUP BY c.Ciudad;

Ciudad,Promedio de Transferencias
Barcelona,1425.000000
Málaga,1100.000000
Madrid,1480.000000
Pamplona,1500.000000
Sevilla,1412.500000
Valencia,1562.500000
Zaragoza,1350.000000
Alicante,1100.000000

44. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo promedio de todas las cuentas del mismo tipo?

In [91]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.Saldo > (
    SELECT AVG(Saldo)
    FROM bank.Cuentas
    WHERE TipoCuenta = cu.TipoCuenta
);

Nombre,Apellido
María,García
Sofía,Torres
Sergio,Navarro
Isabel,Ramírez
Andrés,Herrera
Alicia,Gutiérrez
Raúl,Vázquez
Lucía,Romero
Óscar,Ramos
Daniela,Cabrera
Pablo,Ortega
Silvia,Vargas
Roberto,Sáez
Adriana,Guerrero
Ernesto,Montes
Valeria,Espinosa
Gustavo,Hidalgo
Camila,Acosta
Nicolás,Ledesma
Mariana,Pizarro
Leonardo,Escobar
Renata,Segovia
Emiliano,Salcedo
Isabella,Quintero
Tomás,Castañeda
Catalina,Solano
Benjamín,Carvajal
Constanza,Avendaño
Joaquín,Cáceres
Rafaela,Acuña
Maximiliano,Yáñez
Julieta,Baeza
Ezequiel,Montero
Amanda,Parra
Emilio,Crespo
Ariana,Henríquez
Salvador,Morales
Luana,Santamaría
Máximo,Saldivar
Violeta,Ugarte
Ignacio,Solís
Maite,Heredia
Gael,Bernal
Amelia,Polo
Amelia,Peña
Álvaro,Leal
Dafne,Robles
Ángel,Zepeda
Esmeralda,Vigil

45. **¿Cuál es el monto total de transacciones por trimestre y año?**

In [92]:
SELECT YEAR(Fecha) AS 'Año', QUARTER(Fecha) AS 'Trimestre', SUM(Monto) AS 'Monto Total'
FROM bank.Transacciones
GROUP BY YEAR(Fecha), QUARTER(Fecha)
ORDER BY YEAR(Fecha), QUARTER(Fecha);

Año,Trimestre,Monto Total
2023,2,15800.00
2023,3,18530.00
2023,4,20500.00
2024,1,24300.00
2024,2,26050.00
2024,3,12560.00

46. ¿Cuáles son las cuentas que han tenido transacciones en todos los años desde su apertura?

In [99]:
SELECT cu.CuentaID,
       (YEAR(CURDATE()) - YEAR(cu.FechaApertura)) + 1 AS AñosDesdeApertura
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
GROUP BY cu.CuentaID, AñosDesdeApertura
HAVING COUNT(DISTINCT YEAR(t.Fecha)) = AñosDesdeApertura;

47. ¿Cuál es el monto promedio de pagos por rango de saldo de las cuentas?

In [102]:
SELECT
    RangoDeSaldo,
    AVG(Monto) AS 'Promedio de Pagos'
FROM (
    SELECT
        cu.Saldo,
        t.Monto,
        CASE
            WHEN cu.Saldo < 5000 THEN 'Menor a $5,000'
            WHEN cu.Saldo BETWEEN 5000 AND 10000 THEN '$5,000 - $10,000'
            WHEN cu.Saldo BETWEEN 10000 AND 20000 THEN '$10,000 - $20,000'
            ELSE 'Mayor a $20,000'
        END AS RangoDeSaldo
    FROM bank.Cuentas cu
    JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID AND t.Tipo = 'Pago'
) AS Subconsulta
GROUP BY RangoDeSaldo;

RangoDeSaldo,Promedio de Pagos
"Menor a $5,000",489.285714
"$5,000 - $10,000",415.454545

**48. ¿Cuáles son los clientes que tienen cuentas con un saldo superior al saldo máximo de todas las cuentas corrientes?**

In [104]:
SELECT c.Nombre, c.Apellido
FROM bank.Clientes c
JOIN bank.Cuentas cu ON c.ClienteID = cu.ClienteID
WHERE cu.Saldo > (SELECT MAX(Saldo) FROM bank.Cuentas WHERE TipoCuenta = 'Corriente');

Nombre,Apellido
María,García
Ana,Martínez
Laura,Fernández
Sofía,Torres
Isabel,Ramírez
Marta,Jiménez
Carla,Ruiz
Alicia,Gutiérrez
Lucía,Romero
Elena,Santos
Cristina,Molina
Daniela,Cabrera
Silvia,Vargas
Carolina,Pardo
Claudia,Suárez
Adriana,Guerrero
Valeria,Espinosa
Natalia,Aguilar
Gabriela,Arias
Camila,Acosta
Mariana,Pizarro
Valentina,Piña
Rebeca,Cisneros
Renata,Segovia
Isabella,Quintero
Sofía,Uribe
Antonella,Rincón
Catalina,Solano
Constanza,Avendaño
Isadora,Echevarría
Antonia,Zúñiga
Rafaela,Acuña
Julieta,Baeza
Florencia,Quintana
Bianca,Rendón
Amanda,Parra
Ariana,Henríquez
Fernanda,Tapia
Dulce,Quintero
Luana,Santamaría
Violeta,Ugarte
Avril,Olmedo
Paloma,Espinoza
Maite,Heredia
Amelia,Polo
Bautista,Contreras
Tristán,Sepúlveda
Álvaro,Leal
Ángel,Zepeda

49\. ¿Cuál es el monto total de transacciones por semana y año?

In [105]:
SELECT YEAR(Fecha) AS 'Año', WEEK(Fecha) AS 'Semana', SUM(Monto) AS 'Monto Total'
FROM bank.Transacciones
GROUP BY YEAR(Fecha), WEEK(Fecha)
ORDER BY YEAR(Fecha), WEEK(Fecha);

Año,Semana,Monto Total
2023,13,500.00
2023,14,200.00
2023,15,1300.00
2023,16,2000.00
2023,17,150.00
2023,18,1200.00
2023,19,1500.00
2023,20,1450.00
2023,21,350.00
2023,22,2500.00
2023,23,1080.00
2023,24,450.00
2023,25,2020.00
2023,26,1100.00
2023,27,380.00
2023,28,2360.00
2023,29,850.00
2023,30,2320.00
2023,31,240.00
2023,32,1300.00
2023,33,3090.00
2023,34,170.00
2023,35,1410.00
2023,36,2100.00
2023,37,280.00
2023,38,1730.00
2023,39,2300.00
2023,40,1190.00
2023,41,480.00
2023,42,2400.00
2023,43,1760.00
2023,44,360.00
2023,45,3010.00
2023,46,1100.00
2023,47,490.00
2023,48,2790.00
2023,49,1600.00
2023,50,3370.00
2023,51,230.00
2023,52,1200.00
2023,53,520.00
2024,0,2600.00
2024,1,300.00
2024,2,2100.00
2024,3,3200.00
2024,4,250.00
2024,5,1830.00
2024,6,2700.00
2024,7,2120.00
2024,8,430.00
2024,9,3400.00
2024,10,1670.00
2024,11,560.00
2024,12,3140.00
2024,13,1900.00
2024,14,460.00
2024,15,3780.00
2024,16,1500.00
2024,17,3490.00
2024,18,360.00
2024,19,2000.00
2024,20,4070.00
2024,21,290.00
2024,22,2220.00
2024,23,3000.00
2024,24,380.00
2024,25,2600.00
2024,26,3700.00
2024,27,2010.00
2024,28,630.00
2024,29,3100.00
2024,30,2590.00
2024,31,530.00

**50. ¿Cuáles son las cuentas que han tenido transacciones en todas las semanas del año en curso?**

In [106]:
SELECT cu.CuentaID
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID
WHERE YEAR(t.Fecha) = YEAR(CURDATE())
GROUP BY cu.CuentaID
HAVING COUNT(DISTINCT WEEK(t.Fecha)) = (SELECT COUNT(DISTINCT WEEK(Fecha)) FROM bank.Transacciones WHERE YEAR(Fecha) = YEAR(CURDATE()));

51. ¿Cuál es la cuenta con el monto máximo de depósito?

In [107]:
SELECT cu.CuentaID, MAX(t.Monto) AS 'Máximo Depósito'
FROM bank.Cuentas cu
JOIN bank.Transacciones t ON cu.CuentaID = t.CuentaID AND t.Tipo = 'Depósito'
GROUP BY cu.CuentaID
ORDER BY 'Máximo Depósito' DESC
LIMIT 1;

CuentaID,Máximo Depósito
1,2600.00

52. ¿Cuál es el cliente con la edad máxima?

In [109]:
SELECT Nombre, Apellido, YEAR(CURDATE()) - YEAR(FechaNacimiento) AS 'Edad'
FROM bank.Clientes
ORDER BY Edad DESC
LIMIT 1;

Nombre,Apellido,Edad
Sofía,Torres,49