# Practica 8 - Modificación de tablas y registros

### Trabajar con el esquema **base.sql**

## 1. Inserta 2 productos nuevos en la tabla producto, puedes llamarlos producto1 y producto2.

## 2. Ahora vamos a actualizar los nombres de los productos anteriores:  
2.1 Producto1 será 'Casa'

2.2 Producto2 será 'Departamento'

## 3. Eliminar casa y departamento de la tabla 'producto'